.assetManagementTableContainer {
  padding-right: 6%;
  padding-left: 6%;

  .assetTableMetrics {
    font-size: 12px;

    span {
      margin-left: 2%;
    }
  }

  .btn-second-level {
    margin-right: 5px;
  }

  .actions-table {
    font-size: 13px;

    .header {
      font-size: 13px;
    }
  }

}
