// Selectable text
.selectable {
  color: #0ba3f9;
  &:hover { text-decoration: underline; }
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #E9EEF1;
  font-family: "Roboto", Helvetica, Roboto, Arial, sans-serif;
  overflow-x: hidden;
  color: #5d5d5d;
}


ul{
	list-style-type: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
